<a href="https://colab.research.google.com/github/Collinsngenokip/basic-ml-course/blob/master/01_Python_Solutions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Write a function is_triangle to check the validity of a triangle.
This function should receive 3 parameters corresponding to the length of 3 edges.
It should return boolean True if all 3 edges can form a triangle, else it returns False.

In [2]:
def is_triangle(a, b, c): 
  #if else condition to check the edges
    if (a + b <= c) or (a + c <= b) or (c + b <= a):
        return True
    else:
        return False

print(is_triangle(1, 2, 3))
print(is_triangle(2, 2, 3))

True
False

2. Print odd numbers from 1 to 10 using for loop and range.

In [3]:
 
# The odd number range
for num in range(1, 10):
     
  if num % 2 != 0:
      print(num)

1
3
5
7
9

3. Write a function get_reverse that return a reversed string.

In [4]:
# Function get_reverse to reverse a string
def reverse(string):
    string= "".join(reversed(string))
    return string
      
t = "Kenya"
  
print("Input: ", end="")
print(t)
  
print("Output: ", end="")
print(reverse(t))

Input: Kenya
Output: ayneK

4.Write a function that return a new set that contains elements that are either in set a or b but not both.

In [29]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
print(set1 ^ set2)

{20, 70, 10, 60}

5.Write a function remove_from_list that remove all occurrances of a value from a list.

In [17]:
# Expected output: [20, 30, 40, 50, 0]
def remove_from_list(input_list, value):
  new = [i for i in input_list if i != value]
  return new

if 1 == 1:
  input_list= [10, 20, 10, 30, 40, 50, 10, 0]
  value = 10

  new = remove_from_list(input_list, value)
  print(new)

[20, 30, 40, 50, 0]

6.Write code that assign name and score to the object.
Write method get_score that return score attribute of the object.
Write method describe that print <student name>: <student score>.

In [6]:
class Student:
    def __init__(self, name, score):
         self.studentName = name
         self.studentScore = score

    def get_score(self):
         return self.studentScore
    
    def describe(self):
        return self.studentName + ":" +  str(self.studentScore)

student = Student("John", 85)
print(student.get_score())
student.describe()

85

'John:85'

7. Complete the Employee class by:
Write code that calls the __init__ method of the base class to initialize attributes.
Write a speak method that receives a word as its parameter and outputs "Employee <employee name> spoke <word>"

In [7]:
class Person:
    def __init__(self, name):
        self.name = name

    def speak(self):
        return "Person " + self.name + " spoke something."

class Employee(Person):
    def __init__(self, name):
        self.name = name
        Person.__init__(self, name)

    def speak(self, word):
        return "Employee " + employee.name + " spoke hello"

employee = Employee("David")
print(employee.speak("hello"))  # Expected output: "Employee David spoke hello"

Employee David spoke hello

8. Print all the key-value pairs of a dictionary using for loop. Each line is a key-value pair.

In [37]:
country_capital = {
    "japan": "tokyo",
    "vietnam": "hanoi",
    "france": "paris"} 
for key in country_capital:
     print(key + " - " + country_capital[key])

japan - tokyo
vietnam - hanoi
france - paris

9.Write a function solve_equation to solve equation ax^2 + bx + c = 0. (1 pt)

If equation has no solutions, print No solution.
If equation has one solution, print Equation has one solution <x> (<x> is the value of the solution)
If equation has two solutions, print Equation has two solutions <x1> and <x2> (<x1> and <x2> are the values of the solution)

In [36]:
import math

a = int(input("Enter the coefficients of a: "))
b = int(input("Enter the coefficients of b: "))
c = int(input("Enter the coefficients of c: "))

d = b**2-4*a*c # discriminant

if d < 0:
    print ("This equation has no real solution")
elif d == 0:
    x = (-b+math.sqrt(b**2-4*a*c))/2*a
    print ("This equation has one solutions: "), x
else:
    x1 = (-b+math.sqrt((b**2)-(4*(a*c))))/(2*a)
    x2 = (-b-math.sqrt((b**2)-(4*(a*c))))/(2*a)
    print ("This equation has two solutions: ", x1, " or", x2)

Enter the coefficients of a: 3
Enter the coefficients of b: 6
Enter the coefficients of c: 9
This equation has no real solution