<a href="https://colab.research.google.com/github/10-menachi/basic-ml-course/blob/master/Lesson_01_Python_homework.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#@title checks the validity of triangle coordinates
def is_triangle(a, b, c):
  return (a^2) + (b^2) == (c^2)

print(is_triangle(1, 2, 3))
print(is_triangle(2, 2, 3))

False
False

In [ ]:
#@title prints odd numbers between 1 and 10
for i in range(1, 11):
  if i % 2 != 0:
    print(i)

1
3
5
7
9

In [ ]:
#@title reverses a string
def get_reverse(test):
  return test[::-1]
print(get_reverse("chris"))

sirhc

In [ ]:
#@title returns a set with elements that are in sets a and b but not both
def remove_duplicates(a, b):
  for item in a:
    if item in b:
      b.discard(item)
    else:
      b.add(item)
  print(b)
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
remove_duplicates(set1, set2)

{70, 10, 20, 60}

In [ ]:
#@title removes all occurrences of a value from a list
def remove_from_list(the_list, the_value):
  for item in the_list:
    if item == the_value:
      the_list.remove(item)
a = [10, 20, 10, 30, 40, 50, 10, 0]
remove_from_list(a, 10)
print(a)

[20, 30, 40, 50, 0]

In [ ]:
#@title Student class completion
class Student:
    def __init__(self, name, score):
        # Write your code here
        self.name = name
        self.score = score

    def get_score(self):
        # Write your code here
        return self.score
    
    def describe(self):
        # Write your code here
        print(f"{self.name}: {self.score}")

student = Student("John", 85)
print(student.get_score())  # Expected output: 85
student.describe()  # Expected output: "John: 85"

85
John: 85

In [ ]:
#@title Employee class completion
class Person:
    def __init__(self, name):
        self.name = name

    def speak(self):
        return "Person " + self.name + " spoke something."

class Employee(Person):
    def __init__(self, name):
        # Write your code here
        self.name = name

    def speak(self, word):
        # Write your code here
        return f"Employee {self.name} spoke {word}"

employee = Employee("David")
print(employee.speak("hello"))  # Expected output: "Employee David spoke hello"

Employee David spoke hello

In [ ]:
#@title print all key value pairs of a dictionary
country_capital = {
    "japan": "tokyo",
    "vietnam": "hanoi",
    "france": "paris"
}

# Write your code here.
for country, capital in country_capital.items():
  if capital:
    print(f"{country}: {capital}")

# Expected output:
"""
japan - tokyo
vietnam - hanoi
france - paris
"""

japan: tokyo
vietnam: hanoi
france: paris

'\njapan - tokyo\nvietnam - hanoi\nfrance - paris\n'

In [ ]:
#@title solving the equation ax^2 + bx + c = 0. (1 pt)
def solve_equation(a, b, c):
    # Write your code here
    pass