<a href="https://colab.research.google.com/github/TolleDennis/basic-ml-course/blob/master/Personal_Practice_PY.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

01 Practice

This is a supplementary notebook for lecture 01 so that you can get used to Python. Try it on Google Colab and experiment with it by changing the values, as well as write some code as you like.

## Basic data types of Python

Python has several data types. Some of the basic ones are `int`, `float`, `bool`, `str`, `list`, etc.

In [ ]:
a = 1  # int (Integer)
b = 2.0  # float (Real number)
c = True  # bool (Boolean)
d = False  # also bool (Boolean)
e = "Hello World!"  # str (String)
f = [1, 2, 3, 4]  # list

`type` will return the type of variable. Try put the name of the variable inside the parenthesis and run the code cell.

In [ ]:
print(type(c))

<class 'bool'>

### String

String is a sequence of characters.

In [3]:
text = "Machine Learning Basic"
print(text)

Machine Learning Basic

To access a character in string using an index, you can use square brackets `[]`. Remember that index starts from `0`.

In [ ]:
print(text[8])

L

To get a substring, you can use slicing `[start:end]`. Remember that slicing is inclusive to it does not return the character at index `end`.

In [ ]:
print(text[8:15])

Learnin

Here are some operations with string.

In [ ]:
print("Learning" in text)

True

In [ ]:
print("Length of string:", len(text))

Length of string: 22

In [ ]:
text2 = "The future is bright for the Kenyan tech industry"
print(text + " by Sun-asterisk. " + text2)

Machine Learning Basic by Sun-asterisk. The future is bright for the Kenyan tech industry

In [ ]:
print(text2.split(","))

['The future is bright for the Kenyan tech industry']

In [5]:
print(" - ".join(text.split(" ")))

Machine - Learning - Basic

Try modifying a character in the string above and see what will happen.

In [ ]:
"#".join(["25","23"])

'25#23'

In [ ]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
set3 = set1^set2
set3

# def set_difference(a,b):
#     return set1.symmetric_difference(set2)
# set_difference(set1,set2)

{10, 20, 60, 70}

### Lambda function

In [ ]:
func = lambda x : 3**x + 1
func(4)

82

In [ ]:
designers = ["James Smith","Michael Smith","Dennis Colle","Maria Garcia","Maria Rodriguez","Amanda Suzzane","James Johnson"]
designers.sort (key = lambda name : name.split(" ")[-2].lower())
designers

['Amanda Suzzane',
 'Dennis Colle',
 'James Smith',
 'James Johnson',
 'Maria Garcia',
 'Maria Rodriguez',
 'Michael Smith']

In [ ]:
designers.sort (key = lambda name : name.split(" ")[-1].lower())
designers

['Dennis Colle',
 'Maria Garcia',
 'James Johnson',
 'Maria Rodriguez',
 'James Smith',
 'Michael Smith',
 'Amanda Suzzane']

In [ ]:
def quadratic_equation(a,b,c):
    return lambda x : a * 4 ** x + b * x + c
#quadratic_equation(2,3,5)(2)
f = quadratic_equation(2,3,5)
f(3)

142

In [ ]:
full_name = lambda fname , sname : fname.strip().title() + " " + sname.strip().title()
full_name ("Dennis", "Tolle")

'Dennis Tolle'

### MATH MODULE

In [ ]:
from math import radians
radians(180)

3.141592653589793

In [ ]:
import math
math.radians(180)

3.141592653589793

### DATETIME MODULE

In [ ]:
import datetime
dennis = datetime.date(1989,5,23)
print(dennis)

1989-05-23

In [ ]:
dennis.strftime("%A,%B,%D,%Y")

'Tuesday,May,05/23/89,1989'

In [ ]:
DOB = "Dennis was born in the year {:%A %B %d %Y}"
print(DOB.format(dennis))

Dennis was born in the year Tuesday May 23 1989

In [ ]:
DOB = datetime.date(1993,4,17)
time = datetime.time(12,30,20)
exact_dob = datetime.datetime(1993,4,17,12,30,20)
print("Elijah was born on:",exact_dob)
print(exact_dob.year)

Elijah was born on: 1993-04-17 12:30:20
1993

In [ ]:
current_time = datetime.datetime.now()
print(current_time)

2022-10-18 18:12:06.538635

In [ ]:
landed = "25/8/1989"
der = datetime.datetime.strptime(landed, "%d/%m/%Y")
print(der)

1989-08-25 00:00:00

In [ ]:
today = datetime.datetime.today()
eli_dob = today - exact_dob
print(eli_dob)

10776 days, 5:41:48.707115

In [ ]:
Current_date = datetime.date(2022,10,18)
Days = datetime.timedelta(100)
previously = Current_date - Days
previously

datetime.date(2022, 7, 10)

In [ ]:
previously.strftime("%A,%B %d %Y")

'Sunday,July 10 2022'

In [ ]:
class Person:
    def __init__(self,fname,sname,email,address,mob_no):
        self.fname = fname
        self.sname = sname
        self.email = email
        self.address = address
        self.mob_no = mob_no
        def details(self):
            return fname,sname,email,address,mob_no
employee = Person("Dennis","Tolle","email@yahoo.com","20895-00100","0718830879")
print(Person.details)

AttributeError: type object 'Person' has no attribute 'details'

In [ ]:
statesAndCapitals = {
    'Gujarat': 'Gandhinagar',
    'Maharashtra': 'Mumbai',
    'Rajasthan': 'Jaipur',
    'Bihar': 'Patna'
}
# for sta in statesAndCapitals:
#     print(sta)
for state,capital in statesAndCapitals.items():
    print(state, "-" ,capital)
# values = statesAndCapitals.values()
# keys = statesAndCapitals.keys()
# print(keys,values)

Gujarat - Gandhinagar
Maharashtra - Mumbai
Rajasthan - Jaipur
Bihar - Patna

### List

List is a sequence of items. It is enclosed in square brackets `[]`.

In [ ]:
a = [1, 2, 3, 4, 5]

In [ ]:
print(a)

[1, 2, 3, 4, 5]

Unlike string, you can freely modify a list.

In [ ]:
a[0] = 4
a.append(-2)
a.extend([23,56,78])
a.insert(5,29)
print(a)

[4, 2, 3, 4, 5, 29, -2, 23, 56, 78]

Some operations with list

In [ ]:
print(a[1:3])

[2, 3]

In [ ]:
a.sort()
print(a)

[-2, 2, 3, 4, 4, 5, 23, 29, 56, 78]

In [ ]:
print(len(a))

10

In [ ]:
a.pop(-2)
print(a)

[-2, 2, 3, 4, 4, 5, 23, 29, 78]

In [ ]:
a.remove(4)
print(a)

[-2, 2, 3, 4, 5, 23, 29, 78]

You can use list comprehension to generate a list.

In [ ]:
b = [i*3 for i in range(6) if i%2==1]
c = [x*5 for x in range(0,20,2)] 
print(b,c)

[3, 9, 15] [0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [ ]:
def is_triangle(a,b,c):
    if (a + b <= c) or (a + c <= b) or (b + c <= a):
        return False
    else :
        return True

In [ ]:
def reverse(s):
    return s[::-1]
  
s = "Kenya"
print(reverse(s))

ayneK

In [ ]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
def set_difference(a,b):
    return set1.symmetric_difference(set2)
set_difference(set1,set2)

{10, 20, 60, 70}

In [ ]:
def remove_from_list(input_list, value):
    new = [i for i in input_list if i != value]
    return new

a = [10, 20, 10, 30, 40, 50, 10, 0]
remove_from_list(a, 10)

[20, 30, 40, 50, 0]

In [ ]:
is_triangle(1,2,3)

False

In [ ]:
for i in range(1,10):
    if i%2==1:
        print(i)

1
3
5
7
9

### Tuple

Tuple is similar to a list but you cannot modify its value (similar to string). It can be optionally enclosed with parenthesis `()`.

In [6]:
empty_tup = ()
txt1 = ("a")
txt2 = ("a","b","c")
txt3 = ("a",)
print(empty_tup)
print(txt1)
print(txt2)
print(txt3)

()
a
('a', 'b', 'c')
('a',)

In [ ]:
x = (1, 2, 3)
print(x)
x = 1, 2, 3
print(x)

In [7]:
txt1 = 1,
txt2 = 1,2
txt3 = 1,2,3
print(txt1)
print(txt2)
print(txt3)

(1,)
(1, 2)
(1, 2, 3)

Trying to edit a tuple will generate an error.

In [14]:
survey = ("Dennis",23,"Kitengela","18-10-2022")
date = survey[3]
name = survey[0]
age = survey[1]
location = survey[2]
print(name,age,location,date)

Dennis 23 Kitengela 18-10-2022

In [15]:
survey = ("Dennis",23,"Kitengela","18-10-2022")
name,age,location,date, = survey
print(name,age,location,date)

Dennis 23 Kitengela 18-10-2022

In [ ]:
x[1] = 6

Anything that works with list also works with tuple, as long as it does not modify the content of tuple.

In [ ]:
print(len(x))

You can assign multiple variables using a tuple. This is called tuple unpacking. Remember that the number of variables must be the same as the number of values in the tuple.

In [ ]:
x1, x2, x3 = x
print(x1, x2, x3)

### Set

Set is a special kind of list where all elements are unique and unordered. It is enclosed with curly brackets `{}`.

In [ ]:
c = {0, 1, 2, 1, 2, 0, 2}
print(c)

In [ ]:
set1 = {1,2,3,4,5,6}
set2 = {3,4,5,6}
set3 = set1 - set2 #difference set1.difference(set2)
set4 = set1 | set2 #union set1.union(set2)
set5 = set1 ^ set2 #symet
set6 = set1 & set2 #intersection set1.intersection(set2)
print(set3)
print(set4)
print(set5)
print(set6)

{1, 2}
{1, 2, 3, 4, 5, 6}
{1, 2}
{3, 4, 5, 6}

Since set is unordered, trying to access it using index will return an error.

In [ ]:
print(c[0])

Some operations with set:

In [ ]:
print(3 in c)

In [ ]:
a = {0, 1, 2}
b = {1, 2, 3}

print("Intersection of a and b", a & b)
print("Union of a and b", a | b)
print("Difference of a to b", a - b)

### Dictionary

Dictionary is used to map a key to a value. It is also enclosed with curly brackets but with a colon between key and value.

In [ ]:
d = {'japan': 'tokyo', 'vietnam': 'hanoi', 'kenya': 'nairobi'}
print(d)

In [ ]:
data = {'japan':23,
    'tokyo':34,
    'vietnam':55,
    'hanoi':11,
    'kenya':66,
    'nairobi':99}

for valu in data.values():
    print(valu)

23
34
55
11
66
99

In [ ]:
data = {'japan':23,
    'tokyo':34,
    'vietnam':55,
    'hanoi':11,
    'kenya':66,
    'nairobi':99}
for country,city in data.items():
    print(country + "-",city)

japan- 23
tokyo- 34
vietnam- 55
hanoi- 11
kenya- 66
nairobi- 99

Access the dictionary with key

In [ ]:
print(d["japan"])

If the key does not exist in the dictionary, Python will return an error.

In [ ]:
print(d["france"])

Add an entry in dictionary with square brackets.

In [ ]:
d["france"] = "tokyo"
print(d)

## Variable assignment

In Python, data value is assigned to a variable with `=`. The following code cell with assign `1` to `x`.

In [ ]:
x = 1
print(x)

You can reassign the variable to something else, such as a string or a float number.

In [ ]:
x = 5.0
print(x)
x = "Sun*"
print(x)

You can also use a variable to assign value for another variable (including itself).

In [ ]:
x = 5
y = x + 1
print(y)

In [ ]:
x = x + 1
print(x)

## Conditionals and Loops

### Conditionals

In Python, we use `if` statement to declare conditional statement. A boolean expression, which returns `True` or `False`, is used to determine if a code block will be run.

Try running the following code cell, then changing the value of `x` to some number and run the code cell again.

Note: In Python, line indention indicates a code block. Therefore, remember to indent the line correctly. If you do not indent a code block evenly, Python will throw an error.

In [ ]:
age = 20
if age >= 18:
    print('Eligible for driving')
else:
    print('Not eligible for driving')

You can use as many `elif` as you want to create multiple branches for your `if` statement.

In [ ]:
grade = 80

if grade >= 90:
    print("A+")
elif grade >= 85:
    print("A")
elif grade >= 80:
    print("B+")
else:
    print("B")

Boolean expressions can be combined with `and`, `or` and `not`.

In [ ]:
status = 'drunk'
if age >= 18 and status != 'drunk':
    print('Eligible for driving')

### Loops

Loop is a way to repeat code. There are two types of loops: `while` and `for` loops.

A `while` loop will run as long as the condition boolean expression return `True`.

Note: a `while` loop can run indefinitely. Try removing the `age += 1` line and run the code cell. To stop it from running, click the Stop button or Runtime -> Interrupt Execution.

In [ ]:
age = 0
while age <= 8:
    print(age)
    age += 1

In [ ]:
name = input("input your password: ")

if len(name) < 10:
    print("password too short")
else:
    print("strong password")

input your password: rttuikjhfuftg
strong password

In [ ]:
odd =int (input("Kindly input an number : "))
if odd % 2 == 0:
    print("even number")
else:
    print("odd number")

Kindly input an number : 3
odd number

In [ ]:
a = int(input("input on side of a triangle: "))
b = int(input("input on side of a triangle: "))
c = int(input("input on side of a triangle: "))
if a == b and b!=c:
    print("its an isosless triangle")
elif a != b and b!=c:
    print("Calene triangle")
else:
    print("Equilateral Triangle")

input on side of a triangle: 23
input on side of a triangle: 23
input on side of a triangle: 3
its an isosless triangle

A `for` loop will create a variable, assign a value to it and increment it until it reaches the stop value.

In [ ]:
for age in range(9):  # range(19) = [0, 1, 2, ..., 8]
    print(age)

In [ ]:
for age in range(0, 9, 2):  # [0, 2, 4, 6, 8]
    print(age)

In a loop, you can use `break` statement to exit a loop. `break` will exit only the most innerloop.

In [ ]:
for age in range(9):
    if age == 6:
        break

    print(age)

You can use `for` loop to iterate through a list/tuple/set.

In [ ]:
for value in ["Python", "is", "cool"]:
    print(value)

## Functions

To avoid repeating lines of code, you can encapsulate them in a function and use it later.

In [ ]:
def power(a, b):
    # Calculate a^b
    result = 1
    for i in range(b):
        result *= a
    return result

print("3^3 = ", power(3, 3))

In [ ]:
import math
def volume_sphere(r):
    metho = 4/3 * math.pi * r **3
    return metho
volume_sphere(3)

113.09733552923254

In [ ]:
def triangle_area(b,h):
    meth = 1.0/2.0 * b * h
    return meth
triangle_area(23,17)

195.5

Default parameters: you can assign a default value to a parameter. If the function is called and no value is passed to this parameter, the default value will be assigned to it.

In [ ]:
def say_hello(name="John"):
    print("Hello, my name is", name)

say_hello()

Hello, my name is John

In [ ]:
def convert(inches = 0, feet = 0):
    conv_inch = inches * 1
    conv_feet = feet * 1
    return conv_inch , conv_feet
convert(inches=16,feet = 3)

(16, 3)

Named parameters: this will allow you to specify which argument will receive which value. It also allows you to mix the order of parameters when calling the function name.

In [ ]:
def power(a, b=1):
    # Calculate a^b
    result = 1
    for i in range(b):
        result *= a
    return result

print("6^3 = ", power(b=3, a=6))

## Importing

In order to reuse a function/class from a different place, you will need to import it from another module. There are two ways to do it.

The first one is to import the whole module. This will allow you to use all the functions and classes of that module.

In [ ]:
import math

print(math.sqrt(6))
print(math.ceil(6.3))

The second one is to use `from <module_name> import <function>` to import a specific function. This will allow you to use only that function.

In [ ]:
from os import listdir

print(listdir('.'))  # list all files in current working directory

This will return an error. The reason is that we only imported `listdir` from `os` module but not the whole `os` module.

In [ ]:
print(os.getcwd())

# Class

Class is an important concept in Object Oriented Programming. It is used to define a blueprint for objects, including attributes and methods (or functions of object).

In [ ]:
class Person:
    time_accessed = 0

    def __init__(self, first, last):
        self.firstname = first
        self.lastname = last
    
    def get_time_accessed(self):
        return self.time_accessed
    
    def describe(self):
        self.time_accessed += 1
        return self.firstname + " " + self.lastname

a = Person("John", "Doe")
print(a.describe())
print(a.describe())
print(a.get_time_accessed())

A class can also inherit another class as its base.

In [ ]:
class Employee(Person):
    def __init__(self, firstname, lastname, salary):
        Person.__init__(self, firstname, lastname)
        self.salary = salary
    
    def get_salary(self):
        self.time_accessed += 1
        return self.salary

b = Employee("Jason", "Mack", 1500)
print(b.get_salary())
print(b.describe())
print(b.get_salary())
print(b.get_time_accessed())

# Resources

The above only covers some of the basics in Python. For more tutorials, I suggest checking [this official tutorial](https://docs.python.org/3.10/tutorial/index.html) and [Python documentation](https://docs.python.org/3.10/).