# Lecture 01 Practice

This is a supplementary notebook for lecture 01 so that you can get used to Python. Try it on Google Colab and experiment with it by changing the values, as well as write some code as you like.

## Basic data types of Python

Python has several data types. Some of the basic ones are `int`, `float`, `bool`, `str`, `list`, etc.

In [ ]:
a = 1  # int (Integer)
b = 2.0  # float (Real number)
c = True  # bool (Boolean)
d = False  # also bool (Boolean)
e = "Hello World!"  # str (String)
f = [1, 2, 3, 4]  # list

`type` will return the type of variable. Try put the name of the variable inside the parenthesis and run the code cell.

In [ ]:
print(type(c))

### String

String is a sequence of characters.

In [ ]:
text = "Machine Learning Basic"
print(text)

To access a character in string using an index, you can use square brackets `[]`. Remember that index starts from `0`.

In [ ]:
print(text[8])

To get a substring, you can use slicing `[start:end]`. Remember that slicing is inclusive to it does not return the character at index `end`.

In [ ]:
print(text[8:15])

Here are some operations with string.

In [ ]:
print("Learning" in text)

In [ ]:
print("Length of string:", len(text))

In [ ]:
print(text + " by Sun-asterisk")

In [ ]:
print(text.upper())

In [ ]:
print(text.split(" "))

In [ ]:
print("-".join(text.split(" ")))

Try modifying a character in the string above and see what will happen.

In [ ]:
text[0] = "l"

### List

List is a sequence of items. It is enclosed in square brackets `[]`.

In [ ]:
a = [1, 2, 3, 4, 5]

In [ ]:
print(a)

Unlike string, you can freely modify a list.

In [ ]:
a[0] = 4
a.append(-2)
print(a)

Some operations with list

In [ ]:
print(a[1:3])

In [ ]:
a.sort()
print(a)

In [ ]:
print(len(a))

In [ ]:
a.pop(1)
print(a)

In [ ]:
a.remove(4)
print(a)

You can use list comprehension to generate a list.

In [ ]:
b = [i*3 for i in range(6) if i%2==1]
print(b)

### Tuple

Tuple is similar to a list but you cannot modify its value (similar to string). It can be optionally enclosed with parenthesis `()`.

In [ ]:
x = (1, 2, 3)
print(x)
x = 1, 2, 3
print(x)

Trying to edit a tuple will generate an error.

In [ ]:
x[1] = 6

Anything that works with list also works with tuple, as long as it does not modify the content of tuple.

In [ ]:
print(len(x))

You can assign multiple variables using a tuple. This is called tuple unpacking. Remember that the number of variables must be the same as the number of values in the tuple.

In [ ]:
x1, x2, x3 = x
print(x1, x2, x3)

### Set

Set is a special kind of list where all elements are unique and unordered. It is enclosed with curly brackets `{}`.

In [ ]:
c = {0, 1, 2, 1, 2, 0, 2}
print(c)

Since set is unordered, trying to access it using index will return an error.

In [ ]:
print(c[0])

Some operations with set:

In [ ]:
print(3 in c)

In [ ]:
a = {0, 1, 2}
b = {1, 2, 3}

print("Intersection of a and b", a & b)
print("Union of a and b", a | b)
print("Difference of a to b", a - b)

### Dictionary

Dictionary is used to map a key to a value. It is also enclosed with curly brackets but with a colon between key and value.

In [ ]:
d = {'japan': 'tokyo', 'vietnam': 'hanoi', 'kenya': 'nairobi'}
print(d)

Access the dictionary with key

In [ ]:
print(d["japan"])

If the key does not exist in the dictionary, Python will return an error.

In [ ]:
print(d["france"])

Add an entry in dictionary with square brackets.

In [ ]:
d["france"] = "tokyo"
print(d)

## Variable assignment

In Python, data value is assigned to a variable with `=`. The following code cell with assign `1` to `x`.

In [ ]:
x = 1
print(x)

You can reassign the variable to something else, such as a string or a float number.

In [ ]:
x = 5.0
print(x)
x = "Sun*"
print(x)

You can also use a variable to assign value for another variable (including itself).

In [ ]:
x = 5
y = x + 1
print(y)

In [ ]:
x = x + 1
print(x)

## Conditionals and Loops

### Conditionals

In Python, we use `if` statement to declare conditional statement. A boolean expression, which returns `True` or `False`, is used to determine if a code block will be run.

Try running the following code cell, then changing the value of `x` to some number and run the code cell again.

Note: In Python, line indention indicates a code block. Therefore, remember to indent the line correctly. If you do not indent a code block evenly, Python will throw an error.

In [ ]:
age = 20
if age >= 18:
    print('Eligible for driving')
else:
    print('Not eligible for driving')

You can use as many `elif` as you want to create multiple branches for your `if` statement.

In [ ]:
grade = 80

if grade >= 90:
    print("A+")
elif grade >= 85:
    print("A")
elif grade >= 80:
    print("B+")
else:
    print("B")

Boolean expressions can be combined with `and`, `or` and `not`.

In [ ]:
status = 'drunk'
if age >= 18 and status != 'drunk':
    print('Eligible for driving')

### Loops

Loop is a way to repeat code. There are two types of loops: `while` and `for` loops.

A `while` loop will run as long as the condition boolean expression return `True`.

Note: a `while` loop can run indefinitely. Try removing the `age += 1` line and run the code cell. To stop it from running, click the Stop button or Runtime -> Interrupt Execution.

In [ ]:
age = 0
while age <= 8:
    print(age)
    age += 1

A `for` loop will create a variable, assign a value to it and increment it until it reaches the stop value.

In [ ]:
for age in range(9):  # range(19) = [0, 1, 2, ..., 8]
    print(age)

In [ ]:
for age in range(0, 9, 2):  # [0, 2, 4, 6, 8]
    print(age)

In a loop, you can use `break` statement to exit a loop. `break` will exit only the most innerloop.

In [ ]:
for age in range(9):
    if age == 6:
        break

    print(age)

You can use `for` loop to iterate through a list/tuple/set.

In [ ]:
for value in ["Python", "is", "cool"]:
    print(value)

## Functions

To avoid repeating lines of code, you can encapsulate them in a function and use it later.

In [ ]:
def power(a, b):
    # Calculate a^b
    result = 1
    for i in range(b):
        result *= a
    return result

print("3^3 = ", power(3, 3))

Default parameters: you can assign a default value to a parameter. If the function is called and no value is passed to this parameter, the default value will be assigned to it.

In [ ]:
def say_hello(name="John"):
    print("Hello, my name is", name)

say_hello()

Named parameters: this will allow you to specify which argument will receive which value. It also allows you to mix the order of parameters when calling the function name.

In [ ]:
def power(a, b=1):
    # Calculate a^b
    result = 1
    for i in range(b):
        result *= a
    return result

print("6^3 = ", power(b=3, a=6))

## Importing

In order to reuse a function/class from a different place, you will need to import it from another module. There are two ways to do it.

The first one is to import the whole module. This will allow you to use all the functions and classes of that module.

In [ ]:
import math

print(math.sqrt(6))
print(math.ceil(6.3))

The second one is to use `from <module_name> import <function>` to import a specific function. This will allow you to use only that function.

In [ ]:
from os import listdir

print(listdir('.'))  # list all files in current working directory

This will return an error. The reason is that we only imported `listdir` from `os` module but not the whole `os` module.

In [ ]:
print(os.getcwd())

# Class

Class is an important concept in Object Oriented Programming. It is used to define a blueprint for objects, including attributes and methods (or functions of object).

In [ ]:
class Person:
    time_accessed = 0

    def __init__(self, first, last):
        self.firstname = first
        self.lastname = last
    
    def get_time_accessed(self):
        return self.time_accessed
    
    def describe(self):
        self.time_accessed += 1
        return self.firstname + " " + self.lastname

a = Person("John", "Doe")
print(a.describe())
print(a.describe())
print(a.get_time_accessed())

A class can also inherit another class as its base.

In [ ]:
class Employee(Person):
    def __init__(self, firstname, lastname, salary):
        Person.__init__(self, firstname, lastname)
        self.salary = salary
    
    def get_salary(self):
        self.time_accessed += 1
        return self.salary

b = Employee("Jason", "Mack", 1500)
print(b.get_salary())
print(b.describe())
print(b.get_salary())
print(b.get_time_accessed())

# Resources

The above only covers some of the basics in Python. For more tutorials, I suggest checking [this official tutorial](https://docs.python.org/3.10/tutorial/index.html) and [Python documentation](https://docs.python.org/3.10/).