<a href="https://colab.research.google.com/github/MUTTA-ISIGI/basic-ml-course/blob/master/01_Python/Solution%201.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Assignment 1**

In [ ]:
from logging import fatal
def is_triangle(a,b,c):
 
  if(a+b<=c) or (b+c<=a) or (c+a<=b):
    return False
  else:
      return True
      
print(is_triangle(1, 2, 3)) 
print(is_triangle(2, 2, 3))

False
True

**Assignment 2**

In [ ]:
start,end =1,9
for i in range(start,end+1):
  if i%2==1:
   print(i, end="\n")

1
3
5
7
9

**Assignment 3**

In [ ]:
def get_reverse(text):
  return text[::-1]
mytext=get_reverse("kenya")
print(mytext)

aynek

**Assignment 4**

In [ ]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
set3 = set()

for x in set1:
  if x not in set2:
    set3.add(x) 
for y in set2:   
  if y not in set1:
    set3.add(y)
print(set3)

{10, 20, 70, 60}

**Assignment 5**

In [ ]:
def remove_from_list(input_list,value):
  while value in input_list:
    input_list.remove(value)
a = [10, 20, 10, 30, 40, 50, 10, 0]
remove_from_list(a, 10)
print(a)

[20, 30, 40, 50, 0]

**Assignment 6**

In [ ]:
# I'M UNABLE TO DETECT THE ERROR IN THIS CODE, KINDLY CHECK FOR ANY ERROR
class Student:
    def _init_(self, name, score):
        self.name = name
        self.score = score

    def get_score(self):
        return self.score
      
    
    def describe(self):
        return f"{self.name} : {self.score}"

student = Student("John", 85)
print(student.get_score())  # Expected output: 85
student.describe()  # Expected output: "John: 85"

\**Assignment 7**

In [ ]:
class Person:
    def __init__(self, name):
        self.name = name

    def speak(self):
        return "Person " + self.name + " spoke something"

class Employee(Person):
    def __init__(self, name):
        super().__init__(name)
        

    def speak(self, word):
        return "Employee" +" "  +self.name+ " " "spoke something" +" " +word
        

employee = Employee("David")
print(employee.speak("hello"))

Employee David spoke something hello

**Assignment 8**

In [ ]:
country_capital = {
    "japan": "tokyo",
    "vietnam": "hanoi",
    "france": "paris"
}

for key,value in country_capital.items():
    print(key, " - ", value)

japan  -  tokyo
vietnam  -  hanoi
france  -  paris

**Assignment 9**

In [ ]:
import math
def solve_equation(a,b,c):
  if a == 0:
   print("Quadratic Equation values for 'a'cannot be zero")
  else: 
   discriminant_form = b*b-4*a*c
   sqrt_value = math.sqrt(abs(discriminant_form))

   if discriminant_form >0:
     print(f"Equation has two solutions {(-b + sqrt_value) / (2*a)} and {(-b -sqrt_value)/ (2*a)}")

   elif discriminant_form == 0:
     print(f"Equation has one solution {-b/(2*a)}")
   else:
     print("no solution")

solve_equation(6,-1,-5)

Equation has two solutions 1.0 and -0.8333333333333334