<a href="https://colab.research.google.com/github/dancankimutai/basic-ml-course/blob/master/01_Python/Solution.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Assignment 1
def is_triangle(a,b,c):
  if a == b:
    return "True"
  else:
   return "False"

print(is_triangle(1,2,3))
print(is_triangle(2,2,3))

In [ ]:
# Assignment 2
for i in range(1,11):
  if i%2 !=0:
    print(i)

In [ ]:
# Assignment 3
def get_reverse(text):
  reversed=text[::-1]
  return reversed
get_reverse('kenya')

In [ ]:
# Assignment 4
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
def is_or():
  set3=set1^set2
  return set3
is_or()

In [ ]:
# Assignment 5

def remove_from_list(b, value):
 b = [x for x in b if x!=value]
 return b

a = [10, 20, 10, 30, 40, 50, 10, 0]
remove_from_list(a, 10)

In [ ]:
# Assignment 6
class Student:
    def __init__(self,name,score):
        self.name=name
        self.score=score
    def get_score(self):
        return self.score
    def describe(self):
      print (self.name,":",self.score)
student = Student("John", 85)
print(student.get_score()) 
student.describe()

In [ ]:
# Assignment 7
class Person:
    def __init__(self, name):
        self.name = name

    def speak(self):
        return "Person " + self.name + " spoke something."

class Employee(Person):
    def init(self, name):
        Person.__init__(self,name)
    def speak(self, word):
        self.word=word
        return "Employee " +self.name + " spoke " +self.word

employee = Employee("David")
print(employee.speak("hello"))

In [8]:
# Assignment 8
country_capital = {
    "japan": "tokyo",
    "vietnam": "hanoi",
    "france": "paris"
}

for i in country_capital:
  print(i +" - "+ country_capital[i])

japan - tokyo
vietnam - hanoi
france - paris

In [ ]:
# Assignment 9
import cmath
def solve_equation(a, b, c):
  d = (b**2) - (4*a*c)
  if a==0:
   print("No solution")
  else:
   s1 = (-b-cmath.sqrt(d))/(2*a)
   s2 = (-b+cmath.sqrt(d))/(2*a)
   if s1 == True:
     print("Equation has two solutions {0} and {1}".format(s1,s2))
    #  else:
    #    print("Equation has one solution {0}".format(s1))
a=float(input("Enter value of a: "))
b=float(input("Enter value of b: "))
c=float(input("Enter value of c: "))
solve_equation(a,b,c)