<a href="https://colab.research.google.com/github/vinhtq-2618/basic-ml-course/blob/Lec01_solution/01_Python/Solution.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Solution for week 1 assignments

## Assignment 1 (1 pt)

Write a function `is_triangle` to check the validity of a triangle. This function should receive 3 parameters corresponding to the length of 3 edges. It should return boolean `True` if all 3 edges can form a triangle, else it returns `False`.

```
def is_triangle(a, b, c):
    # Write your code here.
    pass  # Remove this line

print(is_triangle(1, 2, 3))  # Expected output: False
print(is_triangle(2, 2, 3))  # Expected output: True
```

In [1]:
def is_triangle(a, b, c):
    if (a + b > c) and (b + c > a) and (a + c > b):
        return True
    else:
        return False

In [2]:
print(is_triangle(1, 2, 3))  # Expected output: False
print(is_triangle(2, 2, 3))  # Expected output: True

False
True

## Assignment 2 (1 pt)

Print odd numbers from 1 to 10 using `for` loop and `range`.

Expected output:
```
1
3
5
7
9
```

In [3]:
for i in range(1, 10, 2):
    print(i)

1
3
5
7
9

In [4]:
for i in range(1, 10):
    if i % 2 == 1:
        print(i)

1
3
5
7
9

## Assignment 3 (1 pt)

Write a function `get_reverse` that return a reversed string.

Input: `Kenya`

Output: `ayneK`

```
def get_reverse(text):
    # Write your code here
    pass  # Remove this line
```

In [5]:
def get_reverse(text):
    return text[::-1]

In [6]:
print(get_reverse('Hello'))
print(get_reverse('this is a not reversed string'))

olleH
gnirts desrever ton a si siht

## Assignment 4 (1 pt)

Write a function that return a new set that contains elements that are either in set `a` or `b` but not both.

```
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

# Expected output: {10, 20, 60, 70}
```

In [11]:
def either_in_a_or_b_not_both(a, b):
    return a ^ b

In [12]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
either_in_a_or_b_not_both(set1, set2)

{10, 20, 60, 70}

## Assignment 5 (1 pt)

Write a function `remove_from_list` that remove all occurrances of a value from a list.

```
def remove_from_list(input_list, value):
    # Write your code here
    pass  # Remove this line

a = [10, 20, 10, 30, 40, 50, 10, 0]
remove_from_list(a, 10)
print(a)  # Expected output: [20, 30, 40, 50, 0]
```

In [14]:
def remove_from_list(input_list, value):
    while value in input_list:
        input_list.remove(value)

a = [10, 20, 10, 30, 40, 50, 10, 0]
remove_from_list(a, 10)
print(a)  # Expected output: [20, 30, 40, 50, 0]

[20, 30, 40, 50, 0]

In [15]:
a = [10, 20, 10, 10, 30, 40, 50, 10, 0]
remove_from_list(a, 10)
print(a)  # Expected output: [20, 30, 40, 50, 0]

[20, 30, 40, 50, 0]

## Assignment 6 (1 pt)

Complete the following class by: (1 pt)

* Write code that assign `name` and `score` to the object.
* Write method `get_score` that return `score` attribute of the object.
* Write method `describe` that print `<student name>: <student score>`.

```
class Student:
    def __init__(self, name, score):
        # Write your code here
        pass  # Remove this line

    def get_score(self):
        # Write your code here
        pass  # Remove this line
    
    def describe(self):
        # Write your code here
        pass  # Remove this line

student = Student("John", 85)
print(student.get_score())  # Expected output: 85
student.describe()  # Expected output: "John: 85"
```

In [16]:
class Student:
    def __init__(self, name, score):
        self.name = name
        self.score = score

    def get_score(self):
        return self.score

    def describe(self):
        print(f'{self.name}: {self.score}')

student = Student("John", 85)
print(student.get_score())  # Expected output: 85
student.describe()  # Expected output: "John: 85"

85
John: 85

## Assignment 7 (1 pt)

Complete the `Employee` class by:

* Write code that calls the `__init__` method of the base class to initialize attributes.
* Write a `speak` method that receives a word as its parameter and outputs `"Employee <employee name> spoke <word>"`

```
class Person:
    def __init__(self, name):
        self.name = name

    def speak(self):
        return "Person " + self.name + " spoke something."

class Employee(Person):
    def __init__(self, name):
        # Write your code here
        pass  # Remove this line

    def speak(self, word):
        # Write your code here
        pass

employee = Employee("David")
print(employee.speak("hello"))  # Expected output: "Employee David spoke hello"
```

In [18]:
class Person:
    def __init__(self, name):
        self.name = name

    def speak(self):
        return "Person " + self.name + " spoke something."

class Employee(Person):
    def __init__(self, name):
        super().__init__(name)

    def speak(self, word):
        return f'Employee {self.name} spoke {word}'

employee = Employee("David")
print(employee.speak("hello"))  # Expected output: "Employee David spoke hello"

Employee David spoke hello

## Assignment 8 (1 pt)

Print all the key-value pairs of a dictionary using `for` loop. Each line is a key-value pair.

Hint: to get all the keys of a dictionary, use `.keys()`.

```
country_capital = {
    "japan": "tokyo",
    "vietnam": "hanoi",
    "france": "paris"
}

# Write your code here.

# Expected output:
"""
japan - tokyo
vietnam - hanoi
france - paris
"""
```

In [19]:
country_capital = {
    "japan": "tokyo",
    "vietnam": "hanoi",
    "france": "paris"
}

for country in country_capital.keys():
    print(f'{country} - {country_capital[country]}')

japan - tokyo
vietnam - hanoi
france - paris

In [20]:
for country, capital in country_capital.items():
    print(f'{country} - {capital}')

japan - tokyo
vietnam - hanoi
france - paris

## Assignment 9 (2 pt)

Write a function `solve_equation` to solve equation ax^2 + bx + c = 0. (1 pt)

* If equation has no solutions, print `No solution`.
* If equation has one solution, print `Equation has one solution <x>` (`<x>` is the value of the solution)
* If equation has two solutions, print `Equation has two solutions <x1> and <x2>` (`<x1>` and `<x2>` are the values of the solution)


```
def solve_equation(a, b, c):
    # Write your code here
    pass
```

In [21]:
import math

def solve_equation(a, b, c):
    discriminant = b**2 - 4 * a * c
    if discriminant < 0:
        print('No solution')
    elif discriminant == 0:
        x = -b / (2 * a)
        print(f'Equation has one solution {x}')
    else:
        x1 = (-b + math.sqrt(discriminant)) / (2 * a)
        x2 = (-b - math.sqrt(discriminant)) / (2 * a)
        print(f'Equation has two solutions {x1} and {x2}')

In [22]:
solve_equation(1, 2, 1)

Equation has one solution -1.0

In [23]:
solve_equation(3, 3, 9)

No solution

In [24]:
solve_equation(1, 2, -1)

Equation has two solutions 0.41421356237309515 and -2.414213562373095