<a href="https://colab.research.google.com/github/TolleDennis/basic-ml-course/blob/master/01_Python/Solution.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Assignment 1 (1 pt)

Write a function `is_triangle` to check the validity of a triangle. This function should receive 3 parameters corresponding to the length of 3 edges. It should return boolean `True` if all 3 edges can form a triangle, else it returns `False`.

In [53]:
def is_triangle(a,b,c):
    if (a + b <= c) or (a + c <= b) or (b + c <= a):
        return False
    else :
        return True

In [54]:
is_triangle(1,2,3)

False

In [55]:
is_triangle(2,2,3)

True

## Assignment 2 (1 pt)

Print odd numbers from 1 to 10 using `for` loop and `range`.

In [56]:
for i in range(1,10):
    if i%2==1:
        print(i)

1
3
5
7
9

## Assignment 3 (1 pt)

Write a function `get_reverse` that return a reversed string.

In [57]:
def reverse(s):
    return s[::-1]
  
s = "Kenya"
print(reverse(s))

ayneK

## Assignment 4 (1 pt)

Write a function that return a new set that contains elements that are either in set `a` or `b` but not both.

In [58]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

def set_difference(a,b):
    return set1.symmetric_difference(set2)
set_difference(set1,set2)

{10, 20, 60, 70}

## Assignment 5 (1 pt)

Write a function `remove_from_list` that remove all occurrances of a value from a list.

In [59]:
def remove_from_list(input_list, value):
    new = [i for i in input_list if i != value]
    return new

a = [10, 20, 10, 30, 40, 50, 10, 0]
remove_from_list(a, 10)

[20, 30, 40, 50, 0]

## Assignment 6 (1 pt)

Complete the following class by: (1 pt)

* Write code that assign `name` and `score` to the object.
* Write method `get_score` that return `score` attribute of the object.
* Write method `describe` that print `<student name>: <student score>`.

In [60]:
class Student:
    def __init__(self, name, score):
        self.name = name
        self.score = score

    def get_score(self):
        return "{}".format(self.score)
    
    def describe(self):
      print("{} {}".format(self.name,self.score))
       
student = Student("John", 85)
print(student.get_score())  # Expected output: 85
student.describe()  # Expected output: "John: 85"

85
John 85

## Assignment 7 (1 pt)
Complete the `Employee` class by:

* Write code that calls the `__init__` method of the base class to initialize attributes.
* Write a `speak` method that receives a word as its parameter and outputs `"Employee <employee name> spoke <word>"`

In [61]:

class Person:
    def __init__(self, name):
        self.name = name

    def speak(self,word):
        return "Person " + self.name + " spoke something."

class Employee(Person):
  
    def __init__(self,name):
      Person.__init__(self,name)
      self.name = name

    def speak(self, word):
      self.word = word
      return("Employee " + self.name + " spoke " + self.word)

employee = Employee("David")
print(employee.speak("hello"))  # Expected output: "Employee David spoke hello"

Employee David spoke hello

## Assignment 8 (1 pt)

Print all the key-value pairs of a dictionary using `for` loop. Each line is a key-value pair.

Hint: to get all the keys of a dictionary, use `.keys()`.

In [62]:
country_capital = {
    "japan": "tokyo",
    "vietnam": "hanoi",
    "france": "paris"
}

for country, capital in country_capital.items():
    print(country, "-", capital)

japan - tokyo
vietnam - hanoi
france - paris

## Assignment 9 (2 pt)

Write a function `solve_equation` to solve equation ax^2 + bx + c = 0. (1 pt)

* If equation has no solutions, print `No solution`.
* If equation has one solution, print `Equation has one solution <x>` (`<x>` is the value of the solution)
* If equation has two solutions, print `Equation has two solutions <x1> and <x2>` (`<x1>` and `<x2>` are the values of the solution)

In [74]:
import math
def solve_equation(a, b, c):
    discriminant =(b * b) - (4 * a * c)   
   
    if discriminant < 0: 
      print("No solution")
    
    elif discriminant == 0: 
      x1 = round((-b / 2 * a),4)
      print(f"Equation has one solution {x1}")
    
    else:
      x1 = round(((-b - math.sqrt(discriminant))/ 2 * a),4)
      x2 = round(((-b + math.sqrt(discriminant))/ 2 * a),4)
      print(f"Equation has two solutions {x1} and {x2}")

In [75]:
solve_equation(2,3,4)

No solution

In [81]:
solve_equation(1,2,1)

Equation has one solution -1.0

In [82]:
solve_equation(-2,3,4)

Equation has two solutions 9.4031 and -3.4031